/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-secondary: #ebedf0;
  --ifm-navbar-link-color: #000;
  --ifm-color-black: #fff;
  --ifm-code-font-size: 95%;
  font-family: SuisseIntl,sans-serif;
}

.hero__title {
  font-size: 4rem;
}

.navbar__logo {
  flex: 0 0 auto;
  height: 48px;
  margin-right: 0rem;
}


.footer__link-item {
  text-decoration: none;
}

.footer__link-item:hover {
  color: #ebedf0;
} 

.navbar__items {
  font-size: 18px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  --ifm-hero-background-color: #fff;
  --ifm-hero-text-color: #000;
}

.footer--dark {
  --ifm-footer-background-color: #000;
  background-image: url("https://web3.foundation/static/fa2e2556a97b02fb8186cceaa6999d78/24754/research-large.avif");
  background-size: cover;
}

.footer__copyright {
  color: #7F7F7F;
  font-size: 14px;
  text-align: right;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* All other links should not be underlined */
.button, .menu__link, .navbar__brand, .navbar__item, .pagination-nav__link, .table-of-contents__link {
  text-decoration: none;
}

/* Link styling */
.navbar__item {
  padding: 0px;
  margin: 4px 12px;
}

a.navbar__item{
  background:
    linear-gradient(
      to right,
      #fff,
      #fff
    ),
    linear-gradient(
      to right,
      #000,
      #000,
      #000
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover.navbar__item{
  background-size: 0 3px, 100% 3px;
}

/* Feature items*/ 
.col.col--4.feature-item {
  background-color: white;
  padding: 0;
  margin: 1.5em;
  max-width: 28%;
  box-shadow: -1px 1px 15px 1px #00000030;
  transition: 0.2s ease-in-out;
}

.feature-item:hover {
  cursor: pointer;
  box-shadow: none;
  scale: 0.99;
}

.container.container-home {
  padding: 3em 0;
}

.h2-home {
  font-size: 1.75em;
  margin-bottom: 2em;
}

.feature-row {
  justify-content: center;
}

.feature-title {
  font-size: 1.3em;
  text-align: initial;
  height: 7em;
}

.feature-item-inner-box {
  padding: 3em;
}

.feature-link-arrow {
  width: 1.75em;
  height: 1.75em;
  transition: transform 0.2s ease-in-out;
}

.feature-item:hover .feature-link-arrow {
  transform: translateX(+50%);
}

.feature-link-box > p {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.feature-link {
  justify-content: space-between;
  filter: opacity(0.35);
  transition: filter 0.2s ease-in-out;
}

.feature-item:hover .feature-link {
  filter: opacity(1);
}

@media screen and (max-width: 820px) {
  header.heroBanner_src-pages-index-module {
    padding: 2rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .h2-home {
    text-align: center;
    margin-bottom: 1em;
  }

  .feature-item {
    max-width: 20%;
    margin: auto;
    margin-bottom: 2em;
  }
  
  .container.container-home {
    padding: 2em 0;
  }
  
  .col.footer__col {
    text-align: center;
    max-width: 100%;
  }

  .footer__copyright {
    text-align: center;
  }

  .footer--dark {
    background-size: auto;
  }

  .row.feature-row {
    margin: 0;
  }

  .container-home .row .col.col.col {
    max-width: 70%
  }

  .feature-item > img {
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 820px) and (max-width: 996px) {
  header.heroBanner_src-pages-index-module {
    padding: 5rem;
  }

  .h2-home {
    text-align: center;
  }

  .row.feature-row {
    margin: 0;
  }

  .feature-item {
    max-width: 33%;
  }

  .col.footer__col {
    text-align: center;
    max-width: 50%;
  }

  .footer--dark {
    background-size: cover;
  }

  .footer__copyright {
    text-align: center;
  }

  .container-home .row .col.col.col {
    max-width: 28%
  }
}

@media (min-width: 996px) and (max-width: 1440px) {
  .container.container-home {
    padding: 3em 2em;
  }
}
